# Personal Finance Insights Dashboard
---

## Objetivo general del EDA

El objetivo principal es comprender los patrones financieros personales, observando cómo influyen factores como la edad, la educación o el empleo en indicadores clave como la deuda, el ahorro y la puntuación crediticia.


1.	Analizar la relación entre variables financieras clave, como:

	* debt_to_income_ratio: proporción entre deuda e ingresos.
	* credit_score: puntuación crediticia (300–850).
	* savings_to_income_ratio: proporción entre ahorro e ingresos.
	* savings_usd: total ahorros acumulado por individuo.
	
2.	Comparar los indicadores financieros según variables demográficas y laborales:
	* Edad (age).
	* Género (gender).
	* region: zona geográfica de residencia.
	* Nivel educativo (education_level).
	* Situación laboral (employment_status).
	* Puesto de trabajo (job_title).

3.	Identificar posibles patrones o desigualdades financieras entre grupos de población, regiones o tipos de empleo.

4.	Detectar relaciones de interés entre el perfil personal y la estabilidad económica (por ejemplo, cómo varía el credit_score según la educación o la relación entre ingresos y ahorro por tipo de empleo).

---

## Visualizaciones Incluidas

* Distribuciones y boxplots de ratios financieros (DTI, Savings/Income, Credit Score).
* Comparativas por categoría (género, educación, empleo, región).
* Relaciones entre variables numéricas mediante scatter plots y correlaciones.
* Tablas y resúmenes estadísticos para observar diferencias entre grupos.
* Gráficos de barras para analizar medias y medianas de indicadores financieros por categoría.

---

## Valor del Análisis

* Permite entender el comportamiento financiero medio de diferentes perfiles de personas.
* Facilita detectar grupos con mayor riesgo o menor estabilidad económica (por ejemplo, alto DTI o bajo ahorro).
* Proporciona una base sólida para futuras fases de modelado o segmentación, en caso de ampliarse el proyecto.
* Ayuda a visualizar desigualdades financieras entre regiones, niveles educativos o tipos de empleo.

# 1.- Librerías

In [4]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd #manejo de estructura de datos tabulares
import numpy as np # manejo de arrays y operaciones matemáticas

# libreria para crear mapas interactivos
# -----------------------------------------------------------------------
import folium
from folium.plugins import HeatMap, MarkerCluster


# librerias para visualizar datos
# -----------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

from wordcloud import WordCloud


# Libreria para acceder a funciones del sistema 
# -----------------------------------------------------------------------
import sys 
sys.path.append("../")

# Warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings('ignore')

# Configuracion de pandas
# -----------------------------------------------------------------------
pd.options.display.max_columns = None

# 2.-Cargar datos

In [6]:
# cargamos los datos limpios
df = pd.read_pickle("../data/processed/Personal_Finance_ML_Dataset_limpio.pkl")
df.reset_index(inplace=True)
df.head()

,index,user_id,age,gender,education_level,employment_status,job_title,monthly_income_usd,monthly_expenses_usd,savings_usd,has_loan,loan_type,loan_amount_usd,loan_term_months,monthly_emi_usd,loan_interest_rate_pct,debt_to_income_ratio,credit_score,savings_to_income_ratio,region,record_date
0,0,U00001,56,Female,High School,Self-employed,Salesperson,3531.69,1182.59,367655.03,False,No_loan,0.00,0,0.00,0.00,0.00,430,8.68,Other,2024-01-09
1,1,U00002,19,Female,PhD,Employed,Salesperson,3531.73,2367.99,260869.10,True,Education,146323.34,36,4953.50,13.33,1.40,543,6.16,North America,2022-02-13
2,2,U00003,20,Female,Master,Employed,Teacher,2799.49,1003.91,230921.21,False,No_loan,0.00,0,0.00,0.00,0.00,754,6.87,Africa,2022-05-12
3,3,U00004,25,Male,PhD,Employed,Manager,5894.88,4440.12,304815.51,True,Business,93242.37,24,4926.57,23.93,0.84,461,4.31,Europe,2023-10-02
4,4,U00005,53,Female,PhD,Employed,Student,5128.93,4137.61,461509.48,False,No_loan,0.00,0,0.00,0.00,0.00,516,7.50,Africa,2021-08-07

# 3.- Análisis General

# 4.- Análisis estructurado

## 4.1.- Análisis Demográfico y Geográfico

#### 1.- age

- age vs debt_to_income_ratio

In [ ]:
# Tabla

In [7]:
# gráfico

- age vs credit_score

In [8]:
# tabla

In [ ]:
# gráfico

- age vs savings_to_income_ratio

In [ ]:
# tabla

In [ ]:
# gráfico

- age vs savings_usd

In [ ]:
# tabla

In [9]:
# gráfico

#### 2.- gender

- gender vs debt_to_income_ratio

In [ ]:
# tabla

In [10]:
# gráfico

- gender vs savings_to_income_ratio

In [ ]:
# tabla

In [ ]:
# gráfico

- gender vs credit_score

In [ ]:
# tabla

In [ ]:
# gráfico

- gender vs savings_usd

In [ ]:
# tabla

In [ ]:
# gráfico

#### 3.- education_level

- education_level vs debt_to_income_ratio

In [ ]:
# tabla

In [ ]:
# gráfico

- education_level vs savings_to_income_ratio

In [ ]:
# tabla

In [ ]:
# gráfico

- education_level vs credit_score

In [ ]:
# tabla

In [ ]:
# gráfico

- education_level vs savings_usd

In [ ]:
# tabla

In [ ]:
# gráfico

#### 4.- region

- regio vs debt_to_income_ratio

In [ ]:
# tabla

In [ ]:
# gráfico

- region vs savings_to_income_ratio

In [ ]:
# tabla

In [ ]:
# gráfico

- region vs credit_score

In [ ]:
# tabla

In [ ]:
# gráfico

- region vs savings_usd

In [ ]:
# tabla

In [ ]:
# gráfico

# Next Steps

- Profundizar en el análisis correlacional entre ratios financieros.
- Explorar la distribución del score crediticio por región y situación laboral.
- Analizar los niveles de ahorro en relación con los ingresos y la edad.
- Documentar los hallazgos visuales y las conclusiones generales del EDA.